$color-atomic: rgb(54, 71, 79);
$color-crimson: rgb(230, 17, 69);
$color-elephant: rgb(38, 50, 57);
$color-firefly: rgb(8, 22, 35);
$color-hoki: rgb(95, 125, 140);
$color-san-juan: rgb(69, 90, 101);
$color-scooter: rgb(61, 189, 215);
