$base-line-height: 10px;

$breakpoint-small: 375px;
$breakpoint-medium: 667px;
$breakpoint-wide: 1024px;
$breakpoint-huge: 1200px;

$susy: (
  math: static,
  column-width: 180px,
  gutters: (15px / 180px),
  gutter-position: before,
  debug: (
    image: false
  )
);

$layout-small: (
  columns: 2
);

$layout-medium: (
  columns: 4,
  column-width: 150px,
  gutters: (15px / 150px)
);

$layout-wide: (
  columns: 4,
  column-width: 230px,
  gutters: (20px / 230px)
);

$layout-huge: (
  columns: 5,
  column-width: 220px,
  gutters: (20px / 220px)
);

@mixin medium {
  @include susy-breakpoint($breakpoint-medium, $layout-medium) {
    @content
  }
}

@mixin wide {
  @include susy-breakpoint($breakpoint-wide, $layout-wide) {
    @content
  }
}

@mixin huge {
  @include susy-breakpoint($breakpoint-huge, $layout-huge) {
    @content
  }
}
